# API Configuration (Vite client env)
VITE_API_BASE_URL=http://localhost:8000/api/v1

# Development
VITE_USER_NODE_ENV=development

# Cookie domain for access_token
# Example: .example.com to include subdomains
VITE_APP_DOMAIN=localhost